<%- include('header') %>
    <div class="container">
        <h1>Welcome to our chat community</h1>
        <h2>Please <a href="/login">Login</a> first for using the chat</h2>

    </div>
    <%- include('footer') %>